@page "/Doodles"
@inherits Components.Doodles.DoodlePage
@using Syncfusion
@using Doodle.State

<div class="container-xl">
    @if (_loading)
    {

    }

    @if (_renderedOnce)
    {
        <div style="height: 80vh;">
            <DoodleDraw DataAttributeName="doodle" @ref="DoodleDraw" OnSaveDoodle="SaveDoodle">

            </DoodleDraw>
        </div>
    }

</div>

@code {
    public override string Identifier => DocumentTypes.Doodles;

    public override string ThemeColor => ThemeColors.Doodles;

    private bool _loading = true;

    private bool _renderedOnce = false;

    protected void OnCreated()
    {
        _loading = false;
    }

    protected override void OnParametersSet()
    {
        base.ChangeTheme(ThemeColor);
        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        base.ChangeTheme(ThemeColor);
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();

            _renderedOnce = true;

            await Task.Yield();

            StateHasChanged();
        }
    }

    private void SaveDoodle(string stateData)
    {
        DoodleDraw.Options.ToolbarConfig.ShowDrawActionsUndo = true;
    }

}

