<div class="d-flex flex-row @($"gap-{Gap}") justify-content-@JustifyContent align-items-@AlignItems flex-wrap-@FlexWrap @Class w-100">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Gap { get; set; } = 3;

    [Parameter]
    public string JustifyContent { get; set; } = "start";

    [Parameter]
    public string AlignItems { get; set; } = "start";

    [Parameter]
    public string FlexWrap { get; set; } = "nowrap";

    [Parameter]
    public string Class { get; set; } = "";
}