@inherits PresentationPage
@page "/Presentations"

<div class="container-xl">
    <FlexColumn>
        <FlexRow>
            <DocumentDropZone Color="@ThemeColor" SupportedFiles="@(new List<string>() {"ppt", "pptx" })" OnInputFileChange="base.OnInputFileChange" />
            <Card>
                <CardBody @onclick="@AddPresentationAsync">
                    <Icon Style="@($"color:{ThemeColor};")" Size="IconSize.x1" Name="IconName.FilePlus" />
                </CardBody>
            </Card>
        </FlexRow>
        <FlexRow>
            <FlexColumn Class="w-100">
                <RecentDocumentTable RecentDocuments="RecentDocuments" />
            </FlexColumn>
        </FlexRow>
    </FlexColumn>
</div>

@code {
    private bool _loading = true;

    private bool _renderedOnce = false;

    private string ImageUrl = "";

    private IBrowserFile SelectedFile = null;

    private string SelectedFileName => this.SelectedFile?.Name ?? "No file uploaded";

    private string ErrorText = null;

    protected void OnCreated()
    {
        _loading = false;
    }

    protected override void OnParametersSet()
    {
        base.ChangeTheme(ThemeColor);
        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        ThemeService.ColorModeChanged += StateHasChanged;
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _renderedOnce = true;

            OnCreated();

            StateHasChanged();
        }
    }

    protected async Task AddPresentationAsync()
    {


    }

    public void Dispose()
    {
        ThemeService.ColorModeChanged -= StateHasChanged;
    }
}
